footer
	section.footer-1
		.container
			.row
				.col-12.col-sm-6
					ul
						li
							a(href="#") 005016561
								span 
									i.fa.fa-phone 
						li
							a(href="#") infto@gamil.com
								span
									i.fa.fa-envelope
				.col-12.col-sm-6
					ul.second-nav
						li
							a(href="#") Contact us
						li
							a(href="#") about us
						li
							a(href="#")  blog
					
	section.footer-2
		.container
			.row
				.col
					p Made by k3s47
